In [2]:
a = "life is too short"

In [5]:
len(a)

17

In [6]:
a = "Life is too short, You neead Python"

In [7]:
a[3]

'e'

In [8]:
a[3:10]

'e is to'

In [10]:
a[3:]

'e is too short, You neead Python'

In [11]:
a[-1:]

'n'

In [12]:
 a[::-1]

'nohtyP daeen uoY ,trohs oot si efiL'

In [13]:
 "I eat %d apples." % 3

'I eat 3 apples.'

In [14]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [15]:
"rate is %s" %3.234

'rate is 3.234'

In [16]:
"%10s" %"hi"

'        hi'

In [17]:
"%-10s" %"hi"

'hi        '

In [18]:
"%-10sjane." %"hi"

'hi        jane.'

In [19]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [20]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는{age}입니다.'

'나의 이름은 홍길동입니다. 나이는30입니다.'

In [22]:
y = 3.421234234
f'{y:0.4f}'

'3.4212'

In [23]:
a = "Python is the best choice"
a.find('b')

14

In [25]:
a = "Life is too short"
a.index('t')
a.index('k')

ValueError: substring not found

In [26]:
",".join('abcd')

'a,b,c,d'

In [30]:
a = " hi "
a.lstrip()

'hi '

In [31]:
a.rstrip()

' hi'

In [32]:
a.strip()

'hi'

In [33]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [36]:
a = [1, 2, ['a', 'b', ['Life', 'si']]]
print(a[0])
print(a[-1][0])
print(a[2][2][1])

1
a
si

In [37]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [38]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [39]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [40]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [41]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [42]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [43]:
a

['b', 'c', 'a']

In [44]:
a = ['z', 'r', 'b']
a.sort()
a

['b', 'r', 'z']

In [45]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [46]:
a = [1, 2]
b = [3, 4]
a + b

[1, 2, 3, 4]

In [47]:
a = [1, 2]
a.extend([3, 4])
a

[1, 2, 3, 4]

In [48]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3

print(t1)
print(t2)
print(t3)
print(t4)

()
(1,)
(1, 2, 3)
(1, 2, 3)

In [53]:
type(t4)

tuple

In [54]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [55]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [57]:
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[3])

1
b

In [58]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [59]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [60]:
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [61]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [62]:
Tuple = ('a', 'b', 'c', 'd')
print(Tuple)
List = list(Tuple)
List.append('e')
Tuple = tuple(List)
print(Tuple)

('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'e')

In [63]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [64]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [65]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [66]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [73]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [75]:
a = {1:'a', 2:'b'}
print(a[1])
print(a[2])

a
b

In [77]:
a = {'a':1, 'b':2}
print(a['a'])
print(a['b'])

1
2

In [78]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
0119993323
1118

In [82]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [83]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.keys()

for k in a.keys():
    print(k)

name
phone
birth

In [85]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.keys()

for k in a.keys():
print(k)

IndentationError: expected an indented block after 'for' statement on line 4 (3833870643.py, line 5)

In [86]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.values()

dict_values(['pey', '0119993323', '1118'])

In [87]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [90]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(a.get('name'))
print(a['phone'])

pey
0119993323

In [92]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(a.get('nokey'))
print(a['nokey'])

None

KeyError: 'nokey'

In [93]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print('name' in a)
print('email' in a)

True
False

In [94]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [96]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [98]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [99]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1-s2)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}

In [100]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [101]:
print(1 == 1)

True

In [102]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [103]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [104]:
bool('python')

True

In [105]:
bool('')

False

In [106]:
a = [1, 2, 3]
id(a)

140132641363264

In [109]:
a = [1, 2, 3]
b = a
print(id(a))
print(id(b))
print(a is b)

a[1] = 4
print(a)
print(b)

140132641370048
140132641370048
True
[1, 4, 3]
[1, 4, 3]

In [112]:
a = [1, 2, 3]
b = a[:]
print(a)
print(b)
print(a is b)

[1, 2, 3]
[1, 2, 3]
False

In [119]:
from copy import copy

a = [1, 2, 3]
b = copy(a)

print(b)
print(b is a)

[1, 2, 3]
False

In [120]:
a = [1, 2, 3]
b = a.copy()

print(b)
print(b is a)

[1, 2, 3]
False

In [122]:
a = 3
b = 5

print(a)
print(b)

a, b = b, a

print(a)
print(b)

3
5
5
3